state_machine.asl.json
{
    "StartAt": "macie_scan",
    "States": {
        "macie_scan": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Output": "{% $states.result.Payload %}",
            "Arguments": {
                "FunctionName": "arn:aws:lambda:us-east-1:288195736164:function:macie_scan",
                "Payload": "{% $states.input %}"
            },
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 3,
                    "BackoffRate": 2,
                    "JitterStrategy": "FULL"
                }
            ],
            "Next": "macie_status"
        },
        "macie_status": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Output": "{% $states.result.Payload %}",
            "Arguments": {
                "FunctionName": "arn:aws:lambda:us-east-1:288195736164:function:macie_status",
                "Payload": "{% $states.input %}"
            },
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 3,
                    "BackoffRate": 2,
                    "JitterStrategy": "FULL"
                }
            ],
            "Next": "macie_scan_completed"
        },
        "macie_scan_completed": {
            "Type": "Choice",
            "Choices": [
                {
                    "Condition": "{% $states.input.job_status = \"COMPLETE\" %}",
                    "Next": "macie_findings"
                }
            ],
            "Default": "Wait 5 Minutes"
        },
        "macie_findings": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Output": "{% $states.result.Payload %}",
            "Arguments": {
                "FunctionName": "arn:aws:lambda:us-east-1:288195736164:function:macie_findings",
                "Payload": "{% $states.input %}"
            },
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 3,
                    "BackoffRate": 2,
                    "JitterStrategy": "FULL"
                }
            ],
            "Next": "sensitive_data_detected"
        },
        "sensitive_data_detected": {
            "Type": "Choice",
            "Choices": [
                {
                    "Next": "xfer_clean_files",
                    "Condition": "{% $states.input.sensitive_data_detected = false %}"
                }
            ],
            "Default": "xfer_sensitive_files"
        },
        "xfer_clean_files": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Output": "{% $states.result.Payload %}",
            "Arguments": {
                "FunctionName": "arn:aws:lambda:us-east-1:288195736164:function:macie_xfer_clean",
                "Payload": "{% $states.input %}"
            },
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 3,
                    "BackoffRate": 2,
                    "JitterStrategy": "FULL"
                }
            ],
            "End": true
        },
        "xfer_sensitive_files": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Output": "{% $states.result.Payload %}",
            "Arguments": {
                "FunctionName": "arn:aws:lambda:us-east-1:288195736164:function:macie_xfer_sensitive",
                "Payload": "{% $states.input %}"
            },
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 3,
                    "BackoffRate": 2,
                    "JitterStrategy": "FULL"
                }
            ],
            "End": true
        },
        "Wait 5 Minutes": {
            "Type": "Wait",
            "Seconds": 300,
            "Next": "macie_status"
        }
    },
    "QueryLanguage": "JSONata"
}