state_machine.asl.json
{
    "StartAt": "macie_scan",
    "States": {
        "macie_scan": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Output": "{% $states.result.Payload %}",
            "Arguments": {
                "FunctionName": "arn:aws:lambda:us-east-1:288195736164:function:macie_scan",
                "Payload": "{% $states.input %}"
            },
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 3,
                    "BackoffRate": 2,
                    "JitterStrategy": "FULL"
                }
            ],
            "Next": "macie_status"
        },
        "macie_status": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Output": "{% $states.result.Payload %}",
            "Arguments": {
                "FunctionName": "arn:aws:lambda:us-east-1:288195736164:function:macie_status",
                "Payload": "{% $states.input %}"
            },
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 3,
                    "BackoffRate": 2,
                    "JitterStrategy": "FULL"
                }
            ],
            "Next": "macie_scan_completed"
        },
        "macie_scan_completed": {
            "Type": "Choice",
            "Choices": [
                {
                    "End": true,
                    "Condition": "{% $job_status = \"COMPLETE\" %}"
                }
            ],
            "Default": "Wait 60 Seconds"
        },
        "Wait 60 Seconds": {
            "Type": "Wait",
            "Seconds": 60,
            "Next": "macie_status"
        }
    },
    "QueryLanguage": "JSONata"
}